/* Set the font family, margin, padding, and background color for the body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: antiquewhite;
}

/* Set the color for level 1 headings */
h1 {
    color: #FFA500;
}

/* Set the color for level 2 headings */
h2 {
    color: #FF4500;
}

/* Set the table properties */
table {
    border-collapse: collapse;
    width: 100%;
    font-family: cursive;
}

/* Set the padding, alignment, border, text shadow, and font size for table cells */
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-shadow: 1.5px 1.5px 5px #96521e;
    font-size: large;
}

/* Set the background color and text color for table headers */
th {
    background-color: #FFA500;
    color: white;
}

/* Set the alignment and font size for the "ingredients" class */
.ingredients {
    text-align: center;
    font-size: large;
}